<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h3>Nuestras sedes</h3>
            <ul class="list-group">
                <li class="list-group-item border-0 bg-danger"><strong>Sede a:</strong> Calle falsa 123</li>
                <li class="list-group-item border-0 bg-danger"><strong>Sede a:</strong> Calle falsa 123</li>
                <li class="list-group-item border-0 bg-danger"><strong>Sede a:</strong> Calle falsa 123</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-4">
            <h3>Contacto</h3>
            <ul class="list-group">
                <li class="list-group-item border-0 bg-danger"><i class="bi-telephone"></i> +573000000000</li>
                <li class="list-group-item border-0 bg-danger"><i class="bi-envelope"></i> contacto@proyectogarritas.com</li>
            </ul>

        </div>
        <div class="col-sm-12 col-md-4">
            <h3></h3>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>&copy; 2022 Proyecto Garritas</p>
        </div>
    </div>
</div>
